<!-- SECTION FIRST  -->

<div class="container-fluid">
    <div class="row d-flex TopCarousel">
        <div class="col-lg-5 carouselText">

            <h1>
                56
                <p>Years</p>
            </h1>

            <span class="bannerText">Of Delivering tailored Real
                estate Solutions</span>

            <div class="knowmore">
                <button class="btn KnowMoreBtn">Know More <i class="fa-solid fa-arrow-right"></i></button>


            </div>



        </div>
        <div class="carousel col-lg-7 d-flex">
            <div class="swiper mySwiper">

                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="assets/header/building.png" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="assets/header/building.png" alt="">
                    </div>
                </div>
            </div>
            <div class="col-lg-1 ">
                <div class="swiper-pagination"></div>
                <div class="allButons">
                    <div class="enquireNowbtn ">
                        <button class="btn">Enquire Now <i class="fa-solid fa-arrow-right"></i></button>
                    </div>
                    <div class="callIcon">
                        <button class="btn chatIcon"> <i class="fa fa-phone" style="color:black;"></i> </button>
                    </div>
                    <div class="chattBotIcon ">
                        <button class="btn chatIcon"> <img src="assets/home/chatBotIcon.png" alt=""></button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>



<!-- SECTION SECOND  -->


<div class="container-fluid">
    <div class="row  projectShowCaseCarousel">
        <div class="image2 col-lg-4 col-sm-12">

            <img src="assets/home/image1.png" alt="">
        </div>
        <div class="col-lg-8  imgText">
            <div class="image1 col-lg-4 col-sm-12 col-xs-12">
                <img src="assets/home/image2.png" alt="">
            </div>

            <div class="textPart col-lg-6 col-sm-6 col-xs-12 pt-4">
                <table class="table">

                    <tbody>
                        <tr>

                            <td>135 Projects Completed <img src="assets/home/projectsCompletedIcon.png" alt=""
                                    width="32px" class="ms-3"> </td>

                        </tr>
                        <tr>

                            <td> <img src="assets/home/OnGoingProjectsIcon.png" alt="" width="38px" class="me-3"> 15+
                                ongoing
                                projects</td>

                        </tr>
                        <tr>

                            <td>35k Happy Families <img src="assets/home/HappyFamlyIcon.png" alt="" width="38px"
                                    class="ms-3"></td>

                        </tr>
                        <tr>
                            <img src="assets/home/constructionIcon.png" alt="" width="43px" class="me-1"> 32 Million Sq.
                            Ft
                            constructed
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>

    </div>

</div>



<!-- SECTION THIRD  -->

<div class="container-fluid pt-4">
    <div class="row allImages">
        <div class="textWorld col-lg-6 ">
            <h1 class="text-center">World of Kumar</h1>
        </div>
        <div class="col-lg-12 positionedImage">
            <div class="upword-Img-building">
                <img src="assets/home/upword-Img-building.png" alt="">
                <h1>Quality-Assurance</h1>
            </div>
            <div class="centerImg">
                <h1>Premium</h1>
                <img src="assets/home/img1-buildings.png" alt="">
            </div>
            <div class="downwordImage">
                <img src="assets/home/downwordImage.png" alt="">

            </div>

        </div>
        <div class="worldKumarPara col-lg-7 ">
            <div class="innerText">
                With the vision to offer unparalleled living, working, and business spaces that
                redefine the standards of excellence.We strive to maintain leadership in the industry
                through innovative design, cutting-edge technology, and craftsmanship, ultimately delivering
                nothing but the best to our customers.
            </div>
            <div class="boldText">
                Projects done in Magarpatta, Phursungi, Undri, Market Yard, Baner, Wadgaon Sheri
            </div>
        </div>

    </div>
</div>

<div class="container-fluid FourthSection  mb-5 bg-dark">

    <div class="ImgCenter">
        <img src="assets/home/img1-buildings.png" alt="">

    </div>
    <div class="leftCornerImg">
        <img src="assets/home/leftCornerFourth.png" alt="">
    </div>
    <div class="rightBelowCornerBox">
        <div class="container">
            <div class="propertyDetail">
                <p class="name">Kumar Prospera</p>
                <span class="location"> Location : Magarpatta Pune</span>

                <div class="TwobhK  ">

                    <img src="assets/home/twoBhk.png" alt="">
                    <span>2BHK</span>
                    <p>From 97.50 LACS + TAXES</p>
                </div>
                <div class="ThreebhK mt-3 ">

                    <img src="assets/home/twoBhk.png" alt="">
                    <span>3BHK</span>
                    <p>From 97.50 LACS + TAXES</p>
                </div>
            </div>
        </div>
        <div class="hr d-flex">
            <a class="prev mb-3 mr-1" href="#carouselExampleIndicators2" role="button" data-slide="prev">
                <i class="fas fa-angle-left"></i>
            </a>
            <a class="next  mb-3 " href="#carouselExampleIndicators2" role="button" data-slide="next">
                <i class="fas fa-angle-right"></i>
            </a>
            <hr class=" w-50"> <span>1-10</span>
        </div>
    </div>
</div>

<div class="container-fluid FIFTHSECTION">
    <div class="headding">
        Words from our
        <p> customers</p>
    </div>
    <section class="pt-5 pb-5">
        <div class="container-fluid">
            <div class="row">

                <div class="col-12">
                    <div class="swiper-block">

                        <div class="container VideoslideContainer">
                            <!-- Swiper -->
                            <div class="swiper-container">
                                <div class="swiper-wrapper">

                                    <div class="swiper-slide ">
                                        <iframe width="500" height="315"
                                            src="https://www.youtube.com/embed/tgbNymZ7vqY">
                                        </iframe>
                                    </div>


                                    <div class="swiper-slide ">
                                        <iframe width="500" height="315"
                                            src="https://www.youtube.com/embed/tgbNymZ7vqY">
                                        </iframe>
                                    </div>

                                    <div class="swiper-slide ">
                                        <iframe width="500" height="315"
                                            src="https://www.youtube.com/embed/tgbNymZ7vqY">
                                        </iframe>
                                    </div>

                                    <div class="swiper-slide ">
                                        <iframe width="500" height="315"
                                            src="https://www.youtube.com/embed/tgbNymZ7vqY">
                                        </iframe>
                                    </div>




                                </div>
                                <!-- Add Pagination -->

                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </section>


</div>


<div class="container-fluid SIXTHSECTION">
    <div class=" Blog-headding">
        Blogs

    </div>
    <section class="pt-5 pb-5">
        <div class="container-fluid">
            <div class="row">

                <div class="col-12">
                    <div class="swiper-block">

                        <div class="container slideContainer">
                            <!-- Swiper -->
                            <div class="swiper-container swiper-container-Blog">
                                <div class="swiper-wrapper">

                                    <div class="swiper-slide BlogSlide">
                                        <div class="textSlide">
                                            <p>Why Invest In An Under-
                                                Construction Property ?</p>
                                            <button class="btn btn-outline mt-2"> Know More <span class="arrowright"> <i
                                                        class="fa-solid fa-arrow-right"></i></span></button>
                                        </div>
                                    </div>
                                    <div class="swiper-slide BlogSlide">
                                        <div class="textSlide">
                                            <p>Why Invest In An Under-
                                                Construction Property ?</p>
                                            <button class="btn btn-outline mt-2"> Know More <span class="arrowright"> <i
                                                        class="fa-solid fa-arrow-right"></i></span></button>
                                        </div>
                                    </div>
                                    <div class="swiper-slide BlogSlide">
                                        <div class="textSlide">
                                            <p>Why Invest In An Under-
                                                Construction Property ?</p>
                                            <button class="btn btn-outline mt-2"> Know More</button>
                                        </div>
                                    </div>
                                    <div class="swiper-slide BlogSlide">
                                        <div class="textSlide">
                                            <p>Why Invest In An Under-
                                                Construction Property ?</p>
                                            <button class="btn btn-outline mt-2"> Know More <span class="arrowright"> <i
                                                        class="fa-solid fa-arrow-right"></i></span></button>
                                        </div>
                                    </div>


                                </div>
                                <!-- Add Pagination -->

                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-6 text-right">
                    <a class="prev mb-3 mr-1" href="#carouselExampleIndicators2" role="button" data-slide="prev">
                        <i class="fas fa-angle-left"></i>
                    </a>
                    <a class="next  mb-3 " href="#carouselExampleIndicators2" role="button" data-slide="next">
                        <i class="fas fa-angle-right"></i>
                    </a>
                    <div class="hr">
                        <hr class=" w-25"> <span>1-10</span>
                    </div>
                </div>

            </div>
        </div>
    </section>


</div>

<!-- CONTACT SECTION  -->
<div class="container-fluid mt-5">
    <div class="row">
        <div class="contactText col-lg-4 ">
            <h1 class="text-center">Contact Us</h1>

        </div>

        <div class="col-lg-8 contactInput">
            <div class="d-flex firstTwoInputs">
                <div class="col-lg-4 col-sm-12 col-xs-12 mt-5 inputSpacing">
                    <label for="">FIRST NAME*</label>
                    <input type="text" class="form-control" placeholder="Your first name here">
                </div>
                <div class="col-lg-4 col-sm-12 col-xs-12 mt-5">
                    <label for="">LAST NAME*</label>
                    <input type="text" class="form-control" placeholder="Your Last name here">
                </div>
            </div>

            <div class=" col-lg-8 col-sm-12 col-xs-12 mt-4 EmailInput">
                <label for="">EMAIL ID*</label>
                <input type="text" class="form-control " placeholder="Your email here">
            </div>
        </div>
        <div class="col-lg-3 simplify">
            <p> Let’s simplify the
                purchase of your first house</p>

        </div>

        <div class="letsconnect col-lg-12">
            <img src="assets/home/connectArrow.png" alt="">
            <h1 class="text-center">Let’s Connect</h1>
        </div>
    </div>
</div>


<!-- FOOTER SECTION  -->

<div class="container-fluid footer mt-5 ">
    <div class="row">
        <div class="d-flex flex-column footerImgText col-lg-8 ">
            <div class="text col-lg-8 KumarCrop">
                <h1 class="text-center">kumar Corp</h1>
            </div>
            <div class="text col-lg-8 KumarCropImg">
                <img src="assets/footer/KumarCrop.png" alt="">
            </div>
        </div>

        <div class="d-flex flex-column footerText col-lg-4  text-secondary">
            <div class="col-lg-4">
                <div class="allSocialIcons d-flex align-items-center">

                    <div class="icon">
                        <i class="fa-brands fa-youtube"></i>
                    </div>

                    <div class="icon">
                        <i class="fa-brands fa-square-instagram"></i>
                    </div>
                    <div class="icon">
                        <i class="fa-brands fa-facebook-f"></i>
                    </div>
                    <div class="icon">
                        <i class="fa-brands fa-twitter"></i>
                    </div>
                    <div class="icon">
                        <i class="fa-brands fa-linkedin-in"></i>
                    </div>
                    <div class="class text-white">
                        <span>IN 2023</span>
                    </div>

                </div>

            </div>

            <div class="col-lg-4 CorporateDetails">
                <p class="help">Looking for help?</p>
                <h4> Connect with an Expert</h4>
                <h2> Corporate Office</h2>
                <div class="address">
                    <p> Kumar Capital, 2413 East Street, Pune, India</p>
                    <p> +91 (20) 30583635/660/661/ 662/663</p>
                    <p> Fax : +91 20 26353365</p>
                    <p> www.kumarworld.com/p>
                    <p> sales@kumarworld.com</p>
                    <p> <span>Sales Enquiry</span> : +91 9595 110011</p>
                </div>

            </div>


        </div>

    </div>
    <div class="quickLinks text-white mt-5 mb-5  ">
        <div class="row">
            <div class="one col-sm-4 d-flex col-lg-5 justify-content-around ">
                <div class="link ">
                    About Us
                </div>
                <div class="link ">
                    About Us
                </div>
                <div class="link">
                    About Us
                </div>
            </div>

            <div class="two col-sm-4 d-flex col-lg-5 justify-content-around">
                <div class="link">
                    About Us
                </div>
                <div class="link">
                    About Us
                </div>
                <div class="link">
                    About Us
                </div>
            </div>

            <div class="link col-lg-2 col-sm-4 ">
                About Us

            </div>
        </div>

    </div>
</div>